.fon{
    -fx-background-color: linear-gradient(to top, #eeaeca, #94bbe9);
    -fx-font-family: System;
}

.iconImage{
    -fx-image: url('logo.png');
    -fx-opacity: .12;
}

.h1{
    -fx-font-size: 20px;
}

.button{
    -fx-background-color: #fadcf0;
    -fx-font-size: 12px;
    -fx-opacity: 0.80;
    -fx-background-radius: 10;
}

.closeBut{
    -fx-background-color: none;
    -fx-font-size: 15px;
}

.input{
    -fx-background-color: #fadcf0;
    -fx-background-radius: 7;
    -fx-font-size: 15px;
}

.info{
    -fx-font-size: 14px;
    -fx-text-fill: #eb5643;
    -fx-alignment: center;
}

.menBut{
    -fx-background-color: none;
    -fx-font-size: 25px;

}

.blackout{
    -fx-background-color: #363636;
    -fx-opacity: .42;
}

.schedul{
    -fx-alignment: top-left;
}

.fonMenu{
    -fx-background-color: linear-gradient(to top, #eeaeca, #94bbe9);
    -fx-background-radius: 5;
    -fx-opacity: 1;
}

.text1{
    -fx-font-size: 15px;
}

.input1{
    -fx-background-color: #fadcf0;
    -fx-background-radius: 7;
    -fx-font-size: 12px;
}

ScrollPane {
    -fx-fit-to-width: true;
    -fx-opacity: 0.80;
}

ScrollPane .scroll-bar {
    -fx-background-color: #fadcf0;
}

.scroll{
    -fx-background-color: linear-gradient(to top, #e4afce, #cfb2d5);
}

.check-box .box {
    -fx-background-radius: 20;
    -fx-background-color: #fadcf0;
}

.check-box:selected .box {
    -fx-background-color: rgb(190, 255, 181);
}

.check-box .text {
    -fx-font-size: 12px;
}

.check-box:selected .text {
    -fx-strikethrough: true;
}

#rootPane .fon,
#rootPane .h1,
#rootPane .button,
#rootPane .closeBut,
#rootPane .input,
#rootPane .input.prompt-text,
#rootPane .menBut,
#rootPane .text1,
#rootPane .input1,
#rootPane .schedul,
#rootPane .check-box .text {
    -fx-text-fill: #363636;
}




